/* Subtle animated dotted background */
.background-animation::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(147,112,219,0.15) 1px, transparent 1px);
    background-size: 40px 40px;
    z-index: -1;
    animation: animateBackground 20s linear infinite;
}

@keyframes animateBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 40px;
    }
}
